body{
	font: 20px Arial, sans-serif;
}

.navbar{
	background-color: #99ff66;
}

.quem-somos{
	background-color: #ffff66;
	color: black;
}

.margin{
	padding-bottom: 50px;
	padding-top: 10px;
}

.parceiros{
	background-color: #58FAF4;
}

.bg-footer{
	background-color: black;
	color: white;
}